<!-- <nav class="navbar navbar-default navbar-fixed-top">
    <span class="open-slide">
<a href="#" onclick="openSlideMenu()">
<svg width="30" height="30">
<path d="M0,4 30,4" stroke="#fff" stroke-width="3"/>
<path d="M0,10 30,10" stroke="#fff" stroke-width="3"/>
<path d="M0,16 30,16" stroke="#fff" stroke-width="3"/>
</svg>
</a>
</span>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home" [routerLink]="['/']">HOME</a></li>
        <li><a href="#about" >ABOUT US</a></li>
		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">HOME APPLIANCES<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="AC.html" [routerLink]="['/ac']">AC</a></li>
				<li><a href="Cooker.html" [routerLink]="['/cooker']">Cooker</a></li>
                <li><a href="Fan.html" [routerLink]="['/fan']">Fan</a></li>
                <li><a href="Fridge.html" [routerLink]="['/fridge']">Fridge</a></li>
                <li><a href="Grinder.html" [routerLink]="['/grinder']">Grinder</a></li>
				<li><a href="Heater.html"  [routerLink]="['/heater']">Heater</a></li>
				<li><a href="Indaction Stove.html"  [routerLink]="['/indstove']">Indaction Stove</a></li>
				<li><a href="Mixie.html"  [routerLink]="['/mixie']">Mixie</a></li>
				<li><a href="Stove.html"  [routerLink]="['/stove']">Stove</a></li>
				<li><a href="TV.html"  [routerLink]="['/tv']">TV</a></li>
				<li><a href="Taptop Grinder.html"  [routerLink]="['/ttgrinder']">Taptop Grinder</a></li>
				<li><a href="Washing Mechine.html"  [routerLink]="['/washmachine']">Washing Mechine</a></li>
            </ul>
        </li>
	<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">FURNITURES<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="Chair.html"  [routerLink]="['/chair']">Chair</a></li>
				<li><a href="Sofa.html" [routerLink]="['/sofa']">Sofa</a></li>
                <li><a href="Steel Bureaue.html" [routerLink]="['/steelbureaue']">Steel Bureaue</a></li>
                <li><a href="Steel Cart.html" [routerLink]="['/steelcart']">Steel Cart</a></li>
                <li><a href="Wood Bureaue.html" [routerLink]="['/woodbureaue']">Wood Bureaue</a></li>
				<li><a href="Wood Cart.html" [routerLink]="['/woodcart']">Wood Cart</a></li>
            </ul>
        </li>
	<li><a href="#contact">CONTACT US</a></li>
	  <li (click)="changeheaderprop()"><a>LOGIN</a></li>
      </ul>
    </div>
</nav>

<router-outlet></router-outlet> -->